@use 'styles/_Buttons.scss';
@use 'styles/_Avatars.scss';
@use 'styles/_Boxes.scss';
@use 'styles/_Fields.scss';
@import 'styles/_Colors.scss';
@import 'styles/_Variables';
@import './addComment/AddComment.module';


.commentContainer {
    position: relative;
    @extend %boxWrapper;
    >%boxWrapper {
        @extend %indentedBoxWrapper;
        

        &:nth-child(2) {
            padding-top: $boxSpacing;
        }

        &:last-child {
            margin-bottom: $boxSpacing;
            padding-bottom: 0;
        }
        >%boxes{
            margin-bottom: 0;
        }
    }
}

.comments {
    @extend %boxes;
    display: flex;
    padding: 0.5rem;
    align-items: flex-start;
    &.withReplies {
        margin-bottom: 0;
    }
    

    img {
        @extend %avatars;
    }

    >.body{
        flex: 1 0 0;
        display: flex;
        flex-wrap: wrap;
        white-space: pre-wrap;

        .commenthead, .commentfoot {
            flex: 100% 0 0;
            align-items: center;
            display: grid;

            .actionButtons {
                justify-self: end;
            }

            .commentSince {
                @extend %secondaryText;
                margin-left: 1rem;
                font-size: 0.9rem;
                cursor: default;
            }
        }

        .commenthead{
            grid-template-columns: 3rem 1fr 1fr;
            .badge {
                margin-left: 0.5rem;
            }
        }

        .commentfoot{
            grid-template-columns: 1fr;
            .actionButtons {
                justify-self: end;
            }
        }

        >.content{
            flex: 100% 0 0;
            

            textarea {
                resize: none;
                border: none;
                outline: none;
                appearance: none;
                width: 100%;
                background-color: transparent;
            }

            &.editable {
                @extend %field;
            }
        }
    }

    
}







