@use 'styles/Colors.scss';
@use 'styles/Buttons.scss';

.score {
    /* flex:5% 0 0; */
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @extend %accentColor;

    button {
        @extend %borderlessButton;
        @extend %accentColor;
        font-weight: bold;
        padding: 0.5rem;
        font-size: 1.2rem;
    }
}
