@use 'styles/_Colors.scss';
@use 'styles/_Buttons.scss';

.score {
    display: flex;
    flex: 0 0 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @extend %accentText;

    button {
        @extend %borderlessButton;
        @extend %accentText;
        font-weight: bold;
        padding: 0.5rem;
        font-size: 1.2rem;
    }
}
