@import 'styles/_Variables';
@import 'styles/_Colors';

%boxes {
    background-color: #FFF;
    border-radius: 8px;
    margin-bottom: $boxSpacing;
}

%boxWrapper {
    margin-left: 25vw;
    margin-right: 25vw;
}

%indentedBoxWrapper {
    margin-right: 0;
    margin-left: $avatarWidth/2;
    padding-left: $avatarWidth/2;
    border-left: 1px solid $secondaryColor;
    padding-bottom: 1rem;
}