@import 'styles/_Colors.scss';


button {

    appearance: none;
    border: none;
    border-radius: 4px;
    background-color: $accentColor;
    color:  #FFF;
    padding: 0.5rem;
    
    &:active {
        background-color: darken($color: $accentColor, $amount: 20);
    }

    &.borderless {
        appearance: none;
        background: none;
        border: none;
        cursor: pointer;
        @extend %accentText;
        &.danger{
            @extend %dangerText;
        }
    }
}