@use 'styles/_Colors.scss';
@use 'styles/_Buttons.scss';
@use 'styles/_Avatars.scss';
@use 'styles/_Boxes.scss';
@use 'styles/_Fields.scss';

.addComment {
    @extend %boxes;
    @extend %boxWrapper;
    display: flex;
    align-items: flex-start;
    padding: 0.5rem 0.5rem 1.5rem 0.5rem;

    > img {
        flex: 0;
        @extend %avatars;
    }

    > button {
        flex: 0;
    }

    fieldset {
        flex: 1;
        @extend %field;

        textarea {
            resize: none;
            appearance: none;
            border: none;
            &:focus{
                outline: none;
            }
            
            box-shadow: none;

            width: 100%;
            
    
        }

    }
}