<div class="{{commentStyle}}">
    <div>
        <app-score [score]=comment.score />
    </div>
    <div class="body">
        <div class="commenthead">
            <img src="{{comment.user.image.png}}" alt="image of {{comment.user.username}}" />
            <div>
                <span>{{comment.user.username}}</span>
                <span *ngIf=isOwnComment class='badge bg-primary'>YOU</span>
                <span class='commentSince' [title]=commentDate>{{commentSince}}</span>
            </div>
            <div class="actionButtons">
                <button className='borderless danger' *ngIf="editMode">
                    <app-icon iconName="faTrash"/>
                    Delete
                </button>
                <button *ngIf="isOwnComment" class='borderless' (click)="toggleEditMode()">
                    <app-icon iconName="faPen"/>
                    Edit
                </button>
                <button *ngIf="!isOwnComment" class='borderless'>
                    <app-icon iconName="faShare" flip='horizontal'/>
                    Reply
                </button>
            </div>
        </div>
        
        <div class="content">
            <fieldset class="{{editFieldStyle}}" >
                <legend>Add a comment</legend>
                <textarea [formControl]="editFieldControl"
                    rows="3"
                    (focus)="setFieldIsActive(true)"
                    (blur)="setFieldIsActive(false)">
                </textarea>
            </fieldset>

            <ng-container *ngIf="!editMode">{{comment.content}}</ng-container>
        </div>
        <div class="commentfoot">
            <div class="actionButtons">
                <button (click)=saveEdit() *ngIf="editMode">
                    UPDATE</button>
            </div>
        </div>
    </div>   

</div>


<ng-container *ngFor="let reply of comment.replies">
    <app-comment [comment]=reply [repliedFrom]=comment.id />
</ng-container>